# PostgreSQL
POSTGRES_USER=twitch_admin
POSTGRES_PASSWORD=WashedImmortalWantsAJob
POSTGRES_DB=twitch_helix
POSTGRES_PORT=5433

# Twitch Helix API
TWITCH_CLIENT_ID=your_twitch_client_id
TWITCH_CLIENT_SECRET=your_twitch_client_secret